{% extends 'base.html' %}

{% block title %}Works of Art{% endblock %}

{% block content %}

		<!-- Page Wrapper -->
			<script src="static/js/jquery.min.js"></script>

{% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Virtual Art Gallery</h2>
							<p>Take a look at the {{ artist }} gallery.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<!-- Text -->
								<section>
									<p>{{ description }}</p>
									<hr />
								</section>

								<form method="POST">
									{{ form.hidden_tag() }}
									<div style="max-widht:1000px; padding-left:20%; padding-right:20%">
										<ul class="actions special">
											<li>{{ form.item_id() }}<br>
												{% for error in form.item_id.errors %}
													<span style="color: red;">[{{ error }}]</span>
												{% endfor %}</li>
											<li>{{ form.submit(class="primary") }}</li>
										</ul>
									</div>
								</form>

							<!-- Artwork Cards -->
								<section>
								   <div class="container">
									   {% for artwork in artwork_details %}
									  <div class="row"  style="max-widht:1000px; padding-left:20%; padding-right:20%; padding-bottom:20px">
											 <!--Profile Card 5-->
											 <div class="col-12">
												<a target="_blank" href="#">
													<div class="card profile-card-5">
														<div class="card-img-block">
															{% if artwork.img_url %}
															<img class="card-img-top" src="{{ artwork.img_url }}" alt="Card image">
															{% else %}
															<img class="card-img-top" src="static/images/no_image_available.png" alt="Card image">
															{% endif %}
														</div>
														<div class="card-body pt-0">
														<h5 class="card-title">Title: {{ artwork.title }}</h5>
														<p class="card-text">Artist: {{ artwork.artist }}
															<br/>Medium: {{ artwork.medium }}
															<br/>Date: {{ artwork.date }}
															<br/>Repository: {{ artwork.repository }}
														<!-- <p class="card-text"><small class="text-muted">Ubicación:</small></p> -->
														</div>
													</div>
												</a>
											 </div>
									  </div>
									   {% endfor %}
								   </div>
								</section>


							</div>
						</section>
					</article>

				{% include 'footer.html' %}



		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

{% endblock %}