{% include "header.html" %}

  <main class="main">

      <!-- Section Title -->
      <div class="container section-title">
        <br/><br/>
          <br/><br/>
        <h2>Log in</h2>
        <p>Hi again! Please write down your credentials to get to your challenges</p>
      </div><!-- End Section Title -->

      <div class="container">
        <!-- Log in Section -->
        <section id="forms" class="forms section">
            <div class="container section-signup">
              <div class="col-lg-6">
                  <!-- Adding Flash message here for users trying to register twice -->
                  <div class="flash-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="flash">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                  </div>
                <form action="{{url_for('login')}}" method="post" class="php-email-form" novalidate>
                  {{ form.csrf_token }}
                  <div class="row gy-4">
                    <!-- Email Field -->
                    <div class="col-md-12">
                      {{ form.email.label }}
                      {{ form.email(class="form-control", placeholder="Your Email") }}
                      {% if form.email.errors %}
                          <ul class="errors">
                              {% for error in form.email.errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                    </div>
                    <!-- Password Field -->
                    <div class="col-md-12">
                      {{ form.password.label }}
                      {{ form.password(class="form-control", placeholder="Password") }}
                      {% if form.password.errors %}
                          <ul class="errors">
                              {% for error in form.password.errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                    </div>
                    <!-- Submit Button -->
                    {{ form.submit(type="submit", class="btn-submit") }}
                    </div>

                      <!-- Loading, error, and sent messages placeholders -->
                    <div class="loading d-none">Loading...</div>
                    <div class="error-message d-none"></div>
                    <div class="sent-message d-none">Your message has been sent. Thank you!</div>
                </form>
              </div>
            </div><!-- End Contact Form -->
        </section><!-- Sign up Section -->
      </div>
  </main>

{% include "footer.html" %}
