{% include "header.html" %}

    <!-- Login Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Log in</span></h2>
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <!-- Adding Flash message here for users trying to register twice -->
                      <div class="flash-messages">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="flash">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                      </div>
                    <form action="{{url_for('login')}}" method="post" name="sentMessage" id="contactForm" novalidate="novalidate">
                        {{ form.csrf_token }}
                        <!-- Email Field -->
                        <div class="control-group">
                            {{ form.email(class="form-control", placeholder="Your Email") }}
                              {% if form.email.errors %}
                                  <ul class="errors">
                                      {% for error in form.email.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            <p class="help-block text-danger"></p>
                        </div>
                        <!-- Password Field -->
                        <div class="control-group">
                            {{ form.password(class="form-control", placeholder="Password") }}
                              {% if form.password.errors %}
                                  <ul class="errors">
                                      {% for error in form.password.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            {{ form.submit(type="submit", class="btn btn-primary py-2 px-4") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Login End -->

{% include "footer.html" %}
